<div class="login-container">
    <h2 class="text-center">Accedi</h2>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Inserisci il tuo nome utente" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Inserisci la tua password" required>
        </div>
        <button type="button" class="btn btn-primary" (click)="gestAuth()">Accedi</button> 
    </form>
    
    <div class="text-center mt-3">
        <a href="/register">Registrati </a>
        <br>
        <a href="#">Hai dimenticato la password?</a>
    </div>
    <div *ngIf='!autenticato' style="color:red;">
        {{errorMsg}}
    </div>
</div>
