@import 'bootstrap/dist/css/bootstrap.min.css';


body {
    background-image: url('/assets/images/sfondo_auto.jpg');
    backdrop-filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh; 
    margin: 0; 
}
